.cabecalho {
    display: flex;
    justify-content: space-around;
    /* Ditribui as divs igualmente horizontalmente */
    align-items: center;
     /* Alinha as divs igualmente verticalmente ao centro */
    height: 80px;
     /* Ajusta a altura o cabecalho conforme necssario */
    border: 2px solid rgb (26, 26, 26);
     /* Adiciona uma borda ao redor do cabecalho */
    border-radius: 10px;
     /* Adiciona cantos arredondados ao cabecalho */
    overflow: hidden;
     /* Garante que os cantos arrendondados nao se estendam alem do cabecalho */
    margin: 0 20px;
     /* Define a margem de 20px em ambos os lados */
    transition: border color 0.3s;
     /* Adiciona uma transiçao suave para a mudança de cor da borda */
}